<#@ template language="C#" #>

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

// This code is auto generated

namespace <#= NamespaceName #>
{
    public class <#= ViewName #>RenderManager
    {
        public void Render(StreamWriter streamWriter,
			<#= ModelParams #>)
		{
            <#= RenderSection #>
		}
    }
}